 {% extends 'new/base.html' %}
 {%block headbl%}
 <style type="text/css">
 body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}
 </style>
<link rel="stylesheet" href="/rstatic/new/css/bootstrap-datetimepicker.css">
<script type="text/javascript">
  $('#orderconfirm').click(function(e){
    var SendButton = $(e.target);
});
  function click2() {
     var x = ($('#datetime').val())
     xt = new Date(x)
     if (x == '') {
         mivenotify('notice', 'Provide input', 'Delivery time is empty')
         return false;
     }
     currentTime = new Date()
     console.log(xt < new Date())
     tright = currentTime.getTime() + 14400
     tleft = xt.getTime()
     console.log('tright', tright)
     console.log('tleft', tleft)
     console.log('result', tright < tleft)

     if (xt.getTime() < (currentTime.getTime() + 14400) == true) {
         alert(Date() + 14400)
         console.log('min delivery time is 4 hours please select time greayer')
         mivenotify('error', 'Select Proper Time', 'Please select proper order time,delivery time should be greater than 10 hours')
         $('body').removeClass("loading");
         $('#datetime').focus()
     } else {
         var url = "/makeOrder"; // the script where you handle the form input.
        $('body').addClass("loading"); 
       $('#myModal').modal('toggle')
         $.ajax({
             type: "POST",
             url: url,
             data: $("#orderdata").serialize(), // serializes the form's elements.
             success: function(data) {
                 console.log('order confirmed')
                 $('body').removeClass("loading");
                 $('body').load('/cart',function(){
                   mivenotify('success','Order Id:'+data, 'Thank You, Your Order has been placed')



                 })
             }
         });
     }}
</script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: new Date(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        new Date()
                    ],
                    minDate:new Date()+500000000000000
                });
            });
        </script>
 <script type="text/javascript" src="/rstatic/new/js/moment.js"></script>
 <script type="text/javascript" src="/rstatic/new/js/bootstrap-datetimepicker.js"></script>
 {%endblock%}
{% block content%}
<div class="container" style="margin-top:50px">
  <div class="row">
  <br><br>
  <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-12">
                <h5><span style=""class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
              <div class="col-xs-6">

              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
        {%for item in cartItems%}
          <div class="row">
            <div class="col-xs-2"><img style="height:50px;width:50px"  class="img-responsive hidden-sm hidden-xs" src="{{item.product.coverphoto.url}}">
            </div>
            <div class="col-xs-4">
              <h4 class="product-name"><strong>{{item.product.name}}</strong></h4>
            </div>
            <div class="col-xs-6">
              <div class="col-xs-6 text-right">
                <h6><strong>{{item.product.pricePerUnit}}$<span class="text-muted">x</span></strong></h6>
              </div>
              <div class="col-xs-4">
                <input type="integer" class="form-control input-sm" 
                value="{{item.qtyInUnits}}">
              </div>
              <div class="col-xs-2">
              <form method="post" action="removeItemPost">
                        {%csrf_token%}
                        <input type="hidden" name="item_id" value="{{item.cartitem_id}}">
                        <button type="submit" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                        </form>
                
              </div>
            </div>
          </div>
          <hr>
          {%endfor%}
          {% if totalItems = 0%}
        {%else%}
          <div class="row">
            <div class="text-center">
              <div class="col-xs-9">
              </div>
              <div class="col-xs-3">
                <button type="button" class="btn btn-default btn-sm btn-block hidden-xs hidden-sm">
                  Update cart
                </button>
                <a style="font-size:10px" class="hidden-md hidden-lg hidden-sm hidden-xl">
                  Update
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-9">
              <p style="font-size:20px" class="text-right">Total <strong>{{cart.cartTotal}} $</strong></p>
            </div>
            <div class="col-xs-3">
              <button data-toggle="modal" data-target="#myModal" class="btn btn-success btn-block hidden-xs hidden-sm">
                Checkout
              </button>
               <a data-toggle="modal" data-target="#myModal" style="font-size:10px"class="hidden-md hidden-lg hidden-xl">
                  checkout
                </a>
            </div>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
      <div class="col-md-1"></div>

  </div>
</div>
<div class="container-fluid">
<div id="wrap" class="text-center">
  <!-- Button trigger modal -->
  <br>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <br><br>
        <h1>Order Confirmation</h1>
        <h4>Select time of delivery</h4>
        <form id="orderdata" method="post" action="/makeOrder">
        {%csrf_token%}
        <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" autofocus id="datetime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    
                </div>
            </div>
        </form>
        <hr>
        <button class="btn btn-primary btn-lg has-spinner" data-loading-text="Loading..." type="button" onclick="click2(this)"  id="orderconfirm">
          Confirm Order
        </button>
      </div>
  </div>
</div>
</div>




{% endblock %}

<!-- Social Footer, Single Coloured -->


   