 {% extends 'new/base.html' %}
 {%block headbl%}
 <style type="text/css">
 
 </style>
 <style type="text/css">
 body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.close {
    font-size: 50px;
    display:block;
}
 </style>
<link rel="stylesheet" href="/rstatic/new/css/bootstrap-datetimepicker.css">
 <script type="text/javascript" src="/rstatic/new/js/moment.js"></script>
 <script type="text/javascript" src="/rstatic/new/js/bootstrap-datetimepicker.js"></script>
 {%endblock%}
{% block content%}
<div class="container-fluid" style="margin-top:50px">
  <div class="row">
  <br><br>
  <div class="col-md-1"></div>
    <div class="col-xs-12 col-md-12">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">
            <div class="row">
              <div class="col-xs-12">
                <h5><span style=""class="glyphicon glyphicon-shopping-cart"></span> Shopping Cart</h5>
              </div>
              <div class="col-xs-6">

              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
        {%for item in cartItems%}
          <div class="row" style="padding-left:0">
            <div class="col-xs-2"><img style="height:50px;width:50px"  class="img-responsive hidden-sm hidden-xs" src="{{item.product.coverphoto.url}}">
            </div>
            <div class="col-xs-3" style="padding-left:0">
              <h4 class="product-name"><strong>{{item.product.name}}</strong></h4>
            </div>
            <div class="col-xs-7">
              <div class="col-xs-4 text-right">
                <h6><strong>{{item.product.pricePerUnit}}$<span class="text-muted">x</span></strong></h6>
              </div>
              <div class="col-xs-5">
                <input type="integer" class="form-control input-sm" 
                value="{{item.qtyInUnits}}">
              </div>
              <div class="col-xs-3">
              <form method="post" action="removeItemPost">
                        {%csrf_token%}
                        <input type="hidden" name="item_id" value="{{item.cartitem_id}}">
                        <button type="submit" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                        </form>
                
              </div>
            </div>
          </div>
          <hr>
          {%endfor%}
          {% if totalItems = 0%}
        {%else%}
          <div class="row">
            <div class="text-center">
              <div class="col-xs-9">
              </div>
              <div class="col-xs-3">
                <button type="button" class="btn btn-default btn-sm btn-block hidden-xs hidden-sm">
                  Update cart
                </button>
                <a style="font-size:10px" class="hidden-md hidden-lg hidden-sm hidden-xl">
                  Update
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="row text-center">
            <div class="col-xs-9">
              <p style="font-size:20px" class="text-right">Total <strong>{{cart.cartTotal}} $</strong></p>
            </div>
            <div class="col-xs-3">
              <button data-toggle="modal" data-target="#myModal" class="btn btn-success btn-block hidden-xs hidden-sm">
                Checkout
              </button>
               <a data-toggle="modal" data-target="#myModal" style="font-size:10px"class="hidden-md hidden-lg hidden-xl">
                  checkout
                </a>
            </div>
          </div>
        </div>
        {%endif%}
      </div>
    </div>
      <div class="col-md-1"></div>

  </div>
</div>
<div class="container-fluid">
<div id="wrap" class="text-center">
  <!-- Button trigger modal -->
  <br>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 show-focus-status">
            <div class="alert alert-danger">
                <strong>Out of Focus!</strong> This demo does support the use of your keyboard to change dates! But since it is contained within an iframe you must first click here!
            </div>
            <div class="alert alert-success hidden">
                <strong>In Focus!</strong> You can use your left and right arrow keys to change the date of the first date picker. Try it out now!
            </div>
        </div>
    </div>
  <div class="row">
        <div class="col-sm-4">
            <h2>By Day</h2>
            <hr/>
            <div class="date-picker"  data-date="2014/09/02" data-keyboard="true">
                <div class="date-container pull-left">
                    <h4 class="weekday">Monday</h4>
                    <h2 class="date">Februray 4th</h2>
                    <h4 class="year pull-right">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left"></span>
                <span data-toggle="datepicker" data-type="add" class="fa fa-angle-right"></span>
                <div class="input-group input-datepicker">
                    <input type="text" class="form-control" data-format="YYYY/MM/DD" placeholder="YYYY/MM/DD">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
                <span data-toggle="calendar" class="fa fa-calendar"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>By Week</h2>
            <hr/>
            <div class="date-picker">
                <div class="date-container pull-left">
                    <h4 class="weekday">Monday</h4>
                    <h2 class="date">Februray 4th</h2>
                    <h4 class="year pull-right">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" data-amt="7" class="fa fa-angle-left pull-left"></span>
                <span data-toggle="datepicker" data-amt="7" class="fa fa-angle-right pull-right"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Start Date</h2>
            <hr/>
            <div class="date-picker" data-date="2014/10/31">
                <div class="date-container pull-left">
                    <h4 class="weekday">Monday</h4>
                    <h2 class="date">Februray 4th</h2>
                    <h4 class="year pull-right">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" data-amt="1" class="fa fa-angle-left pull-left"></span>
                <span data-toggle="datepicker" data-amt="1" class="fa fa-angle-right pull-right"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4">
            <h2>By Month</h2>
            <hr/>
            <div class="date-picker" data-type="months">
                <div class="date-container pull-left">
                    <h4 class="weekday">Monday</h4>
                    <h2 class="date">Februray 4th</h2>
                    <h4 class="year pull-right">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left pull-left"></span>
                <span data-toggle="datepicker" class="fa fa-angle-right pull-right"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>By Year</h2>
            <hr/>
            <div class="date-picker" data-type="year" data-date="2014/12/25">
                <div class="date-container pull-left">
                    <h4 class="weekday">Monday</h4>
                    <h2 class="date">Februray 4th</h2>
                    <h4 class="year pull-right">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" class="fa fa-angle-left pull-left"></span>
                <span data-toggle="datepicker" class="fa fa-angle-right pull-right"></span>
            </div>
        </div>
        <div class="col-sm-4">
            <h2>Formatting</h2>
            <hr/>
            <div class="date-picker" data-date="2014/10/31">
                <div class="date-container pull-left">
                    <h4 class="weekday" data-format="ddd">Monday</h4>
                    <h2 class="date" data-format="MMM Do">Februray 4th</h2>
                    <h4 class="year pull-right" data-format="YY">2014</h4>
                </div>
                <span data-toggle="datepicker" data-type="subtract" data-amt="1" class="fa fa-angle-left pull-left"></span>
                <span data-toggle="datepicker" data-amt="1" class="fa fa-angle-right pull-right"></span>
            </div>
        </div>
    </div>
</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>



{% endblock %}
{% block jsblock %}
<script type="text/javascript">
  mivenotify('success','Mive Notification','Your Cart is Empty')
  console.log('yayy')
</script>
<script type="text/javascript">
  function click2() {
     var x = ($('#datetime').val())
     xt = new Date(x)
     if (x == '') {
         mivenotify('notice', 'Provide input', 'Delivery time is empty')
         return false;
     }
     currentTime = new Date()
     console.log(xt < new Date())
     tright = currentTime.getTime() + 14400
     tleft = xt.getTime()
     console.log('tright', tright)
     console.log('tleft', tleft)
     console.log('result', tright < tleft)

     if (xt.getTime() < (currentTime.getTime() + 14400) == true) {
         alert(Date() + 14400)
         console.log('min delivery time is 4 hours please select time greayer')
         mivenotify('error', 'Select Proper Time', 'Please select proper order time,delivery time should be greater than 10 hours')
         $('body').removeClass("loading");
         $('#datetime').focus()
     } else {
         var url = "/makeOrder"; // the script where you handle the form input.
        $('body').addClass("loading"); 
       $('#myModal').modal('toggle')
         $.ajax({
             type: "POST",
             url: url,
             data: $("#orderdata").serialize(), // serializes the form's elements.
             success: function(data) {
                 console.log('order confirmed')
                 $('body').removeClass("loading");
                 $('body').html(data)
             }
         });
     }}
</script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: new Date(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        new Date()
                    ],
                    minDate:new Date()+500000000000000
                });
            });
        </script>

{% endblock %}

<!-- Social Footer, Single Coloured -->


   