 {%for product in products%}
                    <div class="col-sm-3 col-md-3 col-md-offset-0"  style="float:left">
                            <div class="col-item">
                                <div  class="photo">
                                    <center>
                                    <a href="#" onclick="return false" class="login-modal2-button" data-productid="{{product.product_id}}" ><img src="/{{product.coverphoto.url}}" style="height:200px;width:200px" class="img img-responsive"></a>
                                    <p data-toggle="modal" data-productid="{{product.product_id}}" class="login-modal2-button price-text-color" style="font-size: 21px;">
                                                {{product.name}}</p>
                                    </center>
                                </div>
                                <div class="info">
                                         <center><div class="price col-md-9 col-sm-12">
                                            
                                        </div></center>
                                    <div class="row">
                                        <div class="price col-md-5 col-md-offset-2 col-sm-6">
                                            
                                            <p class="">
                                                <a>{{product.unit}}</a></p>                                                

                                        </div>
                                         <div class="price col-md-5 col-sm-6">
                                            <p class="price-text-color">
                                                {{product.pricePerUnit}}₹</p>
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6 col-md-offset-1 cols-sm-6">
                                    <div class="separator clear-left">
                                       <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            
                                          </span>
                                           <form mobile="no" method="post" action="/addtocart" id="productsubmit-{{product.product_id}}">
                                          <input data-toggle="tooltip" title="Input Qty" type="text" class="form-control text-center input-circle inputproductqty" value="1" name="qty">
                                          {%csrf_token%}
                                          <input type="hidden" name="productId" value="{{product.product_id}}">
                                          </form>
                                          <span class="input-group-btn">
                                           
                                          </span>
                                         
                                          
                                        </div>
                                    </div>
                                    </div>
                                   <div class="col-md-5 col-sm-5" mobile="no" data-miveimg="#productsubmit-{{product.product_id}}">
                                   <p><a href="#" mobile="no" title="Add to cart" data-toggle="tooltip" data-mive="#productsubmit-{{product.product_id}}" type="button" class="product1submit btn btn-default btn-sm"><span class=" glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Add</a></p>
                                   </div>
                                   <div class="col-md-1 col-sm-">
                                   </div>


                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}