 {% extends 'new/base.html' %}
 {%block headbl%}
 <style type="text/css">
 body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #ffffff;}

.close {
    font-size: 50px;
    display:block;
}
 </style>
 <style type="text/css">
 .filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

 </style>>
<link rel="stylesheet" href="/rstatic/new/css/bootstrap-datetimepicker.css">
<script type="text/javascript">
  $('#orderconfirm').click(function(e){
    var SendButton = $(e.target);
});
  function click2() {
     var x = ($('#datetime').val())
     xt = new Date(x)
     if (x == '') {
         mivenotify('notice', 'Provide input', 'Delivery time is empty')
         return false;
     }
     currentTime = new Date()
     console.log(xt < new Date())
     tright = currentTime.getTime() + 14400
     tleft = xt.getTime()
     console.log('tright', tright)
     console.log('tleft', tleft)
     console.log('result', tright < tleft)

     if (xt.getTime() < (currentTime.getTime() + 14400) == true) {
         alert(Date() + 14400)
         console.log('min delivery time is 4 hours please select time greayer')
         mivenotify('error', 'Select Proper Time', 'Please select proper order time,delivery time should be greater than 10 hours')
         $('#datetime').focus()
     } else {
         var url = "/makeOrder"; // the script where you handle the form input.
         $.ajax({
             type: "POST",
             url: url,
             data: $("#orderdata").serialize(), // serializes the form's elements.
             success: function(data) {
                 $('#myModal').modal('toggle')
                 console.log('order confirmed')
                 $('body').load('/cart',function(){
                   mivenotify('success','Order Id:'+data, 'Thank You, Your Order has been placed')

                 })
             }
         });
     }}
</script>>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker5').datetimepicker({
                    defaultDate: new Date(),
                    disabledDates: [
                        moment("12/25/2013"),
                        new Date(2013, 11 - 1, 21),
                        new Date()
                    ],
                    minDate:new Date()+500000000000000
                });
            });
        </script>
 <script type="text/javascript" src="/rstatic/new/js/moment.js"></script>
 <script type="text/javascript" src="/rstatic/new/js/bootstrap-datetimepicker.js"></script>
 {%endblock%}
{% block content%}
<div class="container" style="padding-top:50px;">
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Orders</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="Order Id" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Date" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Status" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Subtotal" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Details" disabled></th>
                    </tr>
                </thead>
                <tbody>
                {%for order in orders%}
                    <tr>
                        <td>{{order.order_id}}</td>
                        <td>{{order.timeOfCreate}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.subtotal}}</td>
                        <td><a class="btn btn-success" href="orderDetail?orderId={{order.order_id}}">details</a></td>
                    </tr>
                  {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <br><br>
        <h1>Order Confirmation</h1>
        <h4>Select time of delivery</h4>
        <form id="orderdata" method="post" action="/makeOrder">
        {%csrf_token%}
        <div class="form-group">
                <div class='input-group date' id='datetimepicker5'>
                    <input type='text' class="form-control" id="datetime" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    
                </div>
            </div>
        </form>
        <hr>
        <button class="btn btn-primary btn-lg has-spinner" data-loading-text="Loading..." type="button" onclick="click2(this)"  id="orderconfirm">
          <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
          Confirm Order
        </button>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock %}

<!-- Social Footer, Single Coloured -->


   