<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="rstatic/new/css/readable/bootstrap.min.css">
  <link rel="stylesheet" href="rstatic/new/css/master.css">
  <script src="rstatic/new/js/jquery.min.js"></script>
  <script src="rstatic/new/js/bootstrap.min.js"></script>
  <script src="rstatic/new/js/detect.js"></script>
  <link rel="stylesheet" href="rstatic/new/css/pnotify.custom.min.css">
  <script src="rstatic/new/js/pnotify.custom.min.js"></script>
  <script src="rstatic/new/js/jquery.cookie.js"></script>
  <script type="text/javascript">
  function mivenotify(type,title,text){
    new PNotify({
      title: title,
      text:text,
      type: type,
      hide:true
  });

  }
  </script>
  <script>
  var browd =BrowserDetect()
     $( document ).ready(function() {
      if($.cookie('visitedmive')==undefined){
        console.log('ting')
        $.cookie('visitedmive','true')
        mivenotify('success','Welcome!','Mive will release soon!!');
      }
      else{
         console.log('ting')
         mivenotify('success','Welcome back!','Mive will release soon!!');
      }
      
  // Handler for .ready() called
  
});
 
   
  </script>
  <style>
   @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);
  .nav.nav-justified > li > a { position: relative; }
  .nav.nav-justified > li > a:hover,
  .nav.nav-justified > li > a:focus { background-color: transparent; }
  .nav.nav-justified > li > a > .quote {
      position: absolute;
      left: 0px;
      top: 0;
      opacity: 0;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: #13c0ba;
      border-radius: 15px;
      color: #fff;  
  }
  .nav.nav-justified > li.active > a > .quote { opacity: 1; }
  .nav.nav-justified > li > a > img { box-shadow: 0 0 0 5px #13c0ba; }
  .nav.nav-justified > li > a > img { 
      max-width: 100%; 
      opacity: .3; 
      -webkit-transform: scale(.8,.8);
              transform: scale(.8,.8);
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .nav.nav-justified > li.active > a > img,
  .nav.nav-justified > li:hover > a > img,
  .nav.nav-justified > li:focus > a > img { 
      opacity: 1; 
      -webkit-transform: none;
              transform: none;
      -webkit-transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 0.3s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .tab-pane .tab-inner { padding: 30px 0 20px; }

  @media (min-width: 768px) {
      .nav.nav-justified > li > a > .quote {
          left: auto;
          top: auto;
          right: 20px;
          bottom: 0px;
      }  
  }
  </style>
  <style>
  @import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 320px;
  width: 100% !important;
  background-color: #ffffff;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color:#13c0ba;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #3fad46;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

  </style>
  <style>
  .center-block {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px !important;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px !important;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}
.input-group-lg>.input-group-btn>.btn-mive2 {
    height: 46px;
    padding: 14px 16px;
    font-size: 20px;
    line-height: 1.33;
    background-color: #13c0ba;
    color:#ffffff;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
  </style>

   <link rel="stylesheet" href="rstatic/new/css/cover.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top navtoggle" style="opacity:0.98;border:none" id="rakeshnavtop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img style="height:52px;width:52px" src="rstatic/new/images/mivelogo.png" class="img img-responsive"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#aboutmive">Home</a></li>
        <li><a href="#teammive">vegetables</a></li>
        <li><a href="#contactmive">
          Fruits
        </a></li>
      </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
       
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> 7 - Items<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-cart" role="menu">
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
              </li>
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
              </li>
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img src="http://lorempixel.com/50/50/" alt="" />
                        <span class="item-info">
                            <span>Item name</span>
                            <span>23$</span>
                        </span>
                    </span>
                    <span class="item-right">
                        <button class="btn btn-xs btn-danger pull-right">x</button>
                    </span>
                </span>
              </li>
              <li class="divider"></li>
              <li><a class="text-center" href="">View Cart</a></li>
          </ul>
        </li>
        <li> <a href="#" data-toggle="modal" data-target="#login-modal"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid full" style="height:400px" >
    <div class="row">
      
    </div>
      <div class="col-md-3" style="padding-left:40px;margin-top:0px;">
      </div>
      <div class="col-md-6" style="margin-top:240px;">
            <div class="input-group custom-search-form">
              <input type="text" class="form-control" style="height:60px" placeholder="Search Fruits and Vegetables">
              <span class="input-group-btn" style="color:#13c0ba;">
              <button style="height:60px;color:#ffffff;background:#13c0ba;" class="btn btn-mive2  " type="button">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>
             </div><!-- /input-group -->
        </div>
        <div class="col-md-3" style="padding-left:40px;margin-top:100px;">
      </div>
    </div>
        </div>

<!-- products page -->
<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
            <br>
            <br>
            <br>
                <h2>
                    Some of our popular Products</h2><br>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">

                        <div class="col-sm-3 col-md-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://vectorboom.com/TUTORIALS/Tomato/0.jpg" alt="a" class="img img-responsive" />
                                </div>
                                <div class="info">
                                <div class="row">
                                         <center><div class="price col-md-9 col-sm-6">
                                            
                                            <h5 class="price-text-color">tmaatar</h5>
                                        </div></center>
                                    </div>
                                    <div class="row">
                                        <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                Product</p>
                                            <p class="">
                                                <a>250 gm</a></p>
                                        </div>
                                         <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                $249.99</p>
                                            <p class="">
                                                <a>Details</a></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6 cols-sm-6">
                                    <div class="separator clear-left">
                                       <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                          </span>
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                          </span>
                                          <input type="text" class="form-control text-center input-circle"value="1">
                                          
                                        </div>
                                    </div>
                                    </div>
                                   <div class="col-md-5 col-sm-5">
                                   <p><a>Add <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                                   </div>
                                   <div class="col-md-1 col-sm-">
                                   </div>


                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://vectorboom.com/TUTORIALS/Tomato/0.jpg" alt="a" class="img img-responsive" />
                                </div>
                                <div class="info">
                                <div class="row">
                                         <center><div class="price col-md-9 col-sm-6">
                                            
                                            <h5 class="price-text-color">tmaatar</h5>
                                        </div></center>
                                    </div>
                                    <div class="row">
                                        <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                Product</p>
                                            <p class="">
                                                <a>250 gm</a></p>
                                        </div>
                                         <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                $249.99</p>
                                            <p class="">
                                                <a>Details</a></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6 cols-sm-6">
                                    <div class="separator clear-left">
                                       <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                          </span>
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                          </span>
                                          <input type="text" class="form-control text-center input-circle"value="1">
                                          
                                        </div>
                                    </div>
                                    </div>
                                   <div class="col-md-5 col-sm-5">
                                   <p><a>Add <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                                   </div>
                                   <div class="col-md-1 col-sm-">
                                   </div>


                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://vectorboom.com/TUTORIALS/Tomato/0.jpg" alt="a" class="img img-responsive" />
                                </div>
                                <div class="info">
                                <div class="row">
                                         <center><div class="price col-md-9 col-sm-6">
                                            
                                            <h5 class="price-text-color">tmaatar</h5>
                                        </div></center>
                                    </div>
                                    <div class="row">
                                        <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                Product</p>
                                            <p class="">
                                                <a>250 gm</a></p>
                                        </div>
                                         <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                $249.99</p>
                                            <p class="">
                                                <a>Details</a></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6 cols-sm-6">
                                    <div class="separator clear-left">
                                       <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                          </span>
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                          </span>
                                          <input type="text" class="form-control text-center input-circle"value="1">
                                          
                                        </div>
                                    </div>
                                    </div>
                                   <div class="col-md-5 col-sm-5">
                                   <p><a>Add <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                                   </div>
                                   <div class="col-md-1 col-sm-">
                                   </div>


                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-4">
                            <div class="col-item">
                                <div class="photo">
                                    <img src="http://vectorboom.com/TUTORIALS/Tomato/0.jpg" alt="a" class="img img-responsive" />
                                </div>
                                <div class="info">
                                <div class="row">
                                         <center><div class="price col-md-9 col-sm-6">
                                            
                                            <h5 class="price-text-color">tmaatar</h5>
                                        </div></center>
                                    </div>
                                    <div class="row">
                                        <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                Product</p>
                                            <p class="">
                                                <a>250 gm</a></p>
                                        </div>
                                         <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                $249.99</p>
                                            <p class="">
                                                <a>Details</a></p>
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6 cols-sm-6">
                                    <div class="separator clear-left">
                                       <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                          </span>
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                          </span>
                                          <input type="text" class="form-control text-center input-circle"value="1">
                                          
                                        </div>
                                    </div>
                                    </div>
                                   <div class="col-md-5 col-sm-5">
                                   <p><a>Add <span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                                   </div>
                                   <div class="col-md-1 col-sm-">
                                   </div>


                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>               
                       
                            
                            
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
    </div>

<!-- Team page thing -->



<!-- Contact thing-->
<div class="container" >
	<div class="row">
    <br/><br/><br/>
        <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="contactLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="panel-title" id="contactLabel"><span class="glyphicon glyphicon-info-sign"></span>Please provide your details so we can contact you.</h4>
                    </div>
                    <form action="#" method="post" accept-charset="utf-8">
                    <div class="modal-body" style="padding: 5px;">
                          <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="firstname" placeholder="Firstname" type="text" required autofocus />
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6" style="padding-bottom: 10px;">
                                    <input class="form-control" name="lastname" placeholder="Lastname" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="email" placeholder="E-mail" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    <input class="form-control" name="subject" placeholder="Subject" type="text" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
                                    Resume:<input class="form-control" name="subject" placeholder="Subject" type="file" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <textarea style="resize:vertical;" class="form-control" placeholder="Cover letter..." rows="6" name="comment" required></textarea>
                                </div>
                            </div>
                        </div>  
                        <div class="panel-footer" style="margin-bottom:-14px;">
                            <input type="submit" class="btn btn-success" value="Send"/>
                                <!--<span class="glyphicon glyphicon-ok"></span>-->
                            <input type="reset" class="btn btn-mive" value="Clear" />
                                <!--<span class="glyphicon glyphicon-remove"></span>-->
                            <button style="float: right;" type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        
        <div class="modal fade" id="vote" tabindex="-1" role="dialog" aria-labelledby="voteLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="panel-title" id="voteLabel"><span class="glyphicon glyphicon-arrow-right"></span> How is My Site?</h4>
              </div>
              <div class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios">
                                Excellent
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios">
                                Good
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios">
                                Can Be Improved
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios">
                                Bad
                            </label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios">
                                No Comment
                            </label>
                        </div>
                    </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success btn-vote">Vote!</button>
                <span class="btn btn-primary dropdown-results btn-results" data-for=".results">View Results</span>
                <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                
              </div>
              <div class="row vote-results results">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-left: 5px;">
                        Excellent
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                <span class="sr-only">40% Excellent (success)</span>
                            </div>
                        </div>
                        Good
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                <span class="sr-only">20% Good (primary)</span>
                            </div>
                        </div>
                        Can Be Improved
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">
                                <span class="sr-only">60% Can Be Improved (warning)</span>
                            </div>
                        </div>
                        bad
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                                <span class="sr-only">80% Bad (danger)</span>
                            </div>
                        </div>
                        No Comment
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
                                <span class="sr-only">80% No Comment (info)</span>
                            </div>
                        </div>
                        Overall
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 20%">
                                <span class="sr-only">35% Complete (success)</span>
                            </div>
                            <div class="progress-bar progress-bar-primary" style="width: 40%">
                                <span class="sr-only">20% Complete (primary)</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 25%">
                                <span class="sr-only">10% Complete (warning)</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 10%">
                                <span class="sr-only">10% Complete (danger)</span>
                            </div>
                            <div class="progress-bar progress-bar-info" style="width: 5%">
                                <span class="sr-only">10% Complete (info)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
	</div>    
</div>
<!-- social icons and footer -->

<br />

<!-- Social Footer, Single Coloured -->


    <hr>
    <div class="container">
     <div class="col-md-3"></div>
    <div class="col-md-6">
    <div class="copyright">Copyright © Mive Technology Pvt. Ltd.</div>
    </div>
     <div class="col-md-3"></div>
    </div>

<!-- login model thing -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;opacity:0.96">
        <div class="modal-dialog">
        <div class="loginmodal-container">
          <h1>Login</h1><br>
          <form type="post" action="logPost">
          <input type="text" name="mobile" placeholder="Mobile No.">
          <input type="password" name="pass" placeholder="Password">
          <input type="submit" name="login" class="login loginmodal-submit" value="Login">
          </form>
          
          <div class="login-help">
          <a href="#">Register</a> - <a href="#">Forgot Password</a>
          </div>
        </div>
      </div>
      </div>
<!-- js for qty selector -->
<script type="text/javascript">
$(document).on('click', '.number-spinner button', function () {    
  var btn = $(this),
    oldValue = btn.closest('.number-spinner').find('input').val().trim(),
    newVal = 0;
  
  if (btn.attr('data-dir') == 'up') {
    newVal = parseInt(oldValue) + 1;
  } else {
    if (oldValue > 1) {
      newVal = parseInt(oldValue) - 1;
    } else {
      newVal = 1;
    }
  }
  btn.closest('.number-spinner').find('input').val(newVal);
});
</script>
<script type="text/javascript">
  $(document).ready( function() {
    $('#myCarousel').carousel({
    interval:   4000
  });
  
  var clickEvent = false;
  $('#myCarousel').on('click', '.nav a', function() {
      clickEvent = true;
      $('.nav li').removeClass('active');
      $(this).parent().addClass('active');    
  }).on('slid.bs.carousel', function(e) {
    if(!clickEvent) {
      var count = $('.nav').children().length -1;
      var current = $('.nav li.active');
      current.removeClass('active').next().addClass('active');
      var id = parseInt(current.data('slide-to'));
      if(count == id) {
        $('.nav li').first().addClass('active');  
      }
    }
    clickEvent = false;
  });
});
</script>
<script>
	
	$(document).ready(function() {
    var panels = $('.vote-results');
    var panelsButton = $('.dropdown-results');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('Hide Results');
            }
            else
            {
                currentButton.html('View Results');
            }
        })
    });
});

</script>
</body>
</html>