{% extends 'new/base.html' %}
{% block headbl %}
<style type="text/css">
.fab {
cursor: pointer;
}
.fab-backdrop {
color: rgba(255, 255, 255, 0);
}
.fab-primary, .fab-secondary {
transition: all 0.35s ease-in-out;
}
.fab.active .fab-primary {
opacity: 0;
transform: rotate(225deg);
}
.fab-secondary {
opacity: 0;
transform: rotate(-225deg);
}
.fab.active .fab-secondary {
opacity: 1;
transform: rotate(0);
margin-top: -2px;
}
#inboxstyle .show-on-hover:hover > ul.dropdown-menu {
display: block;    
}
#inboxstyle .show-on-hover {
position: absolute;
bottom: 20px;
right: 20px;
}
#inboxstyle .btn-io{
border-radius: 50%;
height: 54px;
width: 54px;
padding: 0 !important;
box-shadow: 0px 3px 7px 0px rgba(202, 124, 124, 0.72);
}
#inboxstyle .dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
top: auto;
bottom: 100%;
margin-bottom: 1px;
margin-bottom: -5px;
padding-bottom: 30px;
}
#inboxstyle .dropdown-menu-right {
right: 0 !important;
left: auto !important;
}
#inboxstyle .dropdown-menu {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
float: left;
min-width: 50px;
padding: 5px 0;
margin: 2px 0 0;
font-size: 14px;
text-align: center;
list-style: none;
background-color: rgba(255, 255, 255, 0) !important;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: none;
border-radius: 0px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !important;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0) !important;
}
#inboxstyle .fa-iox{
font-size: 12px;
}
#inboxstyle .dropdown-menu > li > a {
display: block;
padding: 0;
padding-top: 4px;
margin-top: 20px;
clear: both;
font-weight: normal;
line-height: 1.42857143;
color: #fff;
white-space: nowrap;
width: 50px;
height: 50px;
border: solid 1px #ccc;
border-radius: 60px;
font-size: 21px;
box-shadow: 0px 3px 7px 0px rgba(203, 203, 203, 0.72);
}
</style>
 <script type="text/javascript">
  var browd =BrowserDetect()
     $( document ).ready(function() {
      if($.cookie('visitedmive')==undefined){
        console.log('ting')
        $.cookie('visitedmive',1)
        mivenotify('notice','Mive Notification','Please note that we are not live yet this is for testing purpose');
        mivenotify('success','Welcome!','Mive will release soon!!');
      }
      else{
         console.log('ting')
         //mivenotify('success','Welcome back!','Mive will release soon!!');
      }
      
  // Handler for .ready() called
  
});
 
   
  </script>
{%endblock%}
{% block search-full%}
<div class="container-fluid full" style="height:400px" >
    <div class="row">
      
    </div>
      <div class="col-md-3" style="padding-left:40px;margin-top:0px;">
      </div>
      <div class="col-md-6" style="margin-top:240px;">
      <form method="get" action="/search" data-toggle="tooltip" title="Search Fruits and Vegetables">

            <div class="input-group custom-search-form">
              <input type="text" class="form-control" style="height:60px" placeholder="Search Fruits and Vegetables" spellcheck="false" id="searchbox" name="searchtext">
              {%csrf_token%}
              <span class="input-group-btn" style="color:#13c0ba;">
              <button type="submit" style="height:60px;color:#ffffff;background:#13c0ba;" class="btn btn-mive2  " type="button">
              <span class="glyphicon glyphicon-search"></span>
             </button>
             </span>

             </div><!-- /input-group -->
             </form>
        </div>
        <div class="col-md-3" style="padding-left:40px;margin-top:100px;">
      </div>
    </div>
        </div>
  {%endblock%}

<!-- products page -->

{%block content%}
<div class="container hidden-xs hidden-sm">
    <div class="row">
        <div class="row">
            <div class="col-md-9">
            <br>
            <br>
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item-row item active">
                    <div class="row">
                    {%for product in products%}
                    <div class="col-sm-3 col-md-3 col-md-offset-0"  style="float:left">
                            <div class="col-item">
                                <div  class="photo">
                                    <img data-toggle="tooltip" data-placement="bottom" title="{{product.name}}" src="/{{product.coverphoto.url}}"  alt="a" class="img img-responsive" style="width:200px;height:200px" />
                                </div>
                                <div class="info">
                                         <center><div class="price col-md-9 col-sm-12">
                                            
                                        </div></center>
                                    <div class="row">
                                        <div class="price col-md-6 col-sm-6">
                                            
                                            <p class="price-text-color">
                                                {{product.name}}</p>
                                            <p class="">
                                                <a>{{product.unit}}</a></p>
                                        </div>
                                         <div class="price col-md-6 col-sm-6">
                                            <p class="">
                                                <a onclick="mivenotify('notice','Mive Notification','We are working on this feature')">Details</a></p>
                                            <p class="price-text-color">
                                                {{product.pricePerUnit}}$</p>
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                    <div class="col-md-6 cols-sm-6">
                                    <div class="separator clear-left">
                                       <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                          </span>
                                           <form mobile="no" method="post" action="/addtocart" id="productsubmit-{{product.product_id}}">
                                          <input data-toggle="tooltip" title="Input Qty" type="text" class="form-control text-center input-circle inputproductqty" value="1" name="qty">
                                          {%csrf_token%}
                                          <input type="hidden" name="productId" value="{{product.product_id}}">
                                          </form>
                                          <span class="input-group-btn">
                                            <button data-toggle="tooltip" title="If large qty edit qty directly " class="btn btn-default btn-circle" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                          </span>
                                         
                                          
                                        </div>
                                    </div>
                                    </div>
                                   <div class="col-md-5 col-sm-5" mobile="no" data-miveimg="#productsubmit-{{product.product_id}}">
                                   <p><a href="#" mobile="no" title="Add to cart" data-toggle="tooltip" data-mive="#productsubmit-{{product.product_id}}" class="product1submit"><span class="glyphicon glyphicon-shopping-cart"></span></a></p>
                                   </div>
                                   <div class="col-md-1 col-sm-">
                                   </div>


                                    </div>

                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                       

                                  
                       
                            
                            
                        </div>
                    </div>
                </div>
                                
            </div>
        </div>
    </div>
    </div>

    <!-- product page for mobiles -->
    <div class="container-fluid hidden-md hidden-lg hidden-xl">
    {%for product in products%}
      <div class="row item-row">
        <div class="col-sm-4 col-xs-6">
          <img src="/{{product.coverphoto.url}}" style="height:150px;width:150px" class="img img-responsive">
        </div>
        <div class="col-sm-2 col-xs-5">
                  <div><h6 class="price-text-color">{{product.name}}</h6></div>

        <div><p style="font-size: 12px;" class="price-text-color">Rate:{{product.pricePerUnit}}/{{product.unit}}</p></div>
        <div data-miveimg="#productsubmit-{{product.product_id}}" mobile="yes"><a href="#" mobile="yes" class="product-a product1submit" data-mive="#productsubmit-{{product.product_id}}" data-original-title="Contact Support" data-toggle="tooltip" title="Add to Cart"><span class="glyphicon glyphicon-shopping-cart" ></span></a>&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        <a onclick="mivenotify('notice','Mive Notification','We are working on this feature')" class="product-a" data-toggle="tooltip" title="Details"><span class="glyphicon glyphicon-th"></span></a></div>
        <div class="input-group number-spinner" >
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
                                          </span>
                                          <form mobile="yes" id="productsubmit-{{product.product_id}}" method="post" class="productform" action="/addtocart">
                                          <input data-mobile="yes" data-toggle="tooltip" title="Input Qty" type="text" class="form-control text-center input-circle inputproductqty" value="1" name="qty">
                                          {%csrf_token%}
                                          <input type="hidden" name="productId" value="{{product.product_id}}">
                                          </form>
                                          <span class="input-group-btn">
                                            <button class="btn btn-default btn-circle" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
                                          </span>
                                          
                                          
                                        </div>
        </div>
      </div>
      {%endfor%}
    </div>
    <div style="position:fixed;bottom:10px;right:5px" class="container">
<div class="row">
<div id="inboxstyle">
<div class="fab btn-group show-on-hover dropup">
<div data-toggle="tooltip" data-placement="left" title="Compose" style="margin-left: 32px;">
 <button  href="/cart" class="btn btn-circle-big" style="background:#13c0ba;color:#ffffff">
    <span class="fa-stack fa-2x" style="font-size:18px">
          <i class="fa fa-circle fa-stack-2x fab-backdrop"></i>
          <i class="fa fa-shopping-cart fa-stack-1x fa-inverse fab-primary class="btn btn-circle-big""></i>
          <i class="fa fa-pencil fa-stack-1x fa-inverse fab-secondary"></i></span>
 </button>
  </div>
<ul class="dropdown-menu dropdown-menu-right" role="menu">

  <li style="background:none">
    <a  style="background: #f0ad4e" href="#" data-toggle="tooltip" data-placement="top" title="Link 2">
<img style="height:45px;width:45px" src="http://www.hexkart.in/assets/images/img-slider1.png2036" class="img img-circle"></a>
  </li>
  <li>
    <a style="background: #3fad46" href="#" data-toggle="tooltip" data-placement="top" title="Link 3">
<img style="height:45px;width:45px" src="http://img-fotki.yandex.ru/get/6313/131624064.1dd/0_87d8f_b8371f4_L" class="img img-circle"></a>
  </li>
  <li>
    <a style="background: #3c80f6" href="#" data-toggle="tooltip" data-placement="top" title="Link6">
<i class="fa fa-user"></i></a>
  </li>
  <li>
    <a style="background: #db4437" href="#" data-toggle="tooltip" data-placement="top" title="Link 7">
<i class="fa fa-shopping-cart"></i></a>
  </li>
</ul>
</div>
</div>
</div>
</div>
<script type="text/javascript">
  $('.fab').hover(function () {
    $(this).toggleClass('active');
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  }) 
 </script>


{%endblock%}