        <div class="col-md-10 col-md-offset-1" style="position:relative">
          <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Charts</h3>
            </div>
            <!-- /.box-header -->
            {%if orders|length = 0 %}
            <div class="box-header with-border">
              <h3 class="box-title">No data for this selection</h3>
            </div>
            {%else%}
            <div class="box-body" id="chartContainer" style="height: 400px; width: 90%;">
            </div>
            {%endif%}
            {%if statsproduct|length = 0 %}
            {%else%}
            <div class="box-body" id="chartContainer2" style="height: 400px; width: 90%;">
            </div>
            {% endif %}
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
            </div>
          </div>
        </div>
      <script type="text/javascript">
{%if orders|length = 0 %}
      {%else%}
 window.rakd = function(t){
      tt = new Date(t)
      return tt.format(yy,m,dd)
    }
        var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme",
      title:{
        text: "Per Order spending({{this.nameOfSeller}})"
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "DD/MMM",
        interval:{{intervel}},
        labelFontSize: 15,
        intervalType: "day"
        
      },
      axisY:{
        labelFontSize: 15,
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
         markerSize: 20,
        //lineThickness: 3,        
        dataPoints: [
        {%for order in orders%}
        { x:new Date('{{order.deliveryTime.isoformat}}') , y: {{order.subtotal}} },
        {%endfor%}

        
        ]
      }
      
      
      ]
    });
chart.render();{%endif%}
   var chart2 = new CanvasJS.Chart("chartContainer2", {

         title:{
            text:"Amount spent per product for {{this.nameOfSeller}}"           

         },
         theme:"theme",
                        animationEnabled: true,
         axisX:{
            interval: 1,
            gridThickness: 0,
            labelFontSize: 15,
            labelFontStyle: "normal",
            labelFontWeight: "normal",
            labelFontFamily: "Lucida Sans Unicode"

         },
         axisY2:{
            gridColor: "rgba(1,77,101,.1)"

         },

         data: [
         {     
            type: "bar",
                name: "Products",
            axisYType: "secondary",
            dataPoints: [
            {%for st in statsproduct%}
            {y: {{st.total}}, label: "{{st.product.name}}"  },
            {%endfor%}
            ]
         }
         
         ]
      });

chart2.render();
  </script>