 <div class="col-md-10 col-md-offset-1" style="position:relative">
          <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Charts</h3>
            </div>
            <!-- /.box-header -->
            {%if consumption|length = 0 %}
            <div class="box-header with-border">
              <h3 class="box-title">No data for this selection</h3>
            </div>
            {%else%}
            <div class="box-body" id="chartContainer" style="height: 200px; width: 90%;">
            </div>
            {% endif %}
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
              <button class="btn btn-primary pull-right orderplace" data-categoryvendorid="{{pd.categoryvendor_id}}" >Place Order</button>
            </div>
          </div>
        </div>
     <script type="text/javascript">
 {%if consumption|length = 0 %}
     {%else%}
 window.rakd = function(t){
      tt = new Date(t)
      return tt.format(yy,m,dd)
    }
        var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme2",
      title:{
        {%with consumption|first as ting%}
        text: "Consumption for  {{ting.stock.product.name}} (in {{ting.stock.product.unit}})"
        {%endwith%}
      },
      animationEnabled: true,
      axisX: {
        valueFormatString: "DD/MMM",
        interval:2,
        intervalType: "day"
        
      },
      axisY:{
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
         markerSize: 20,
        //lineThickness: 3,        
        dataPoints: [
        {%for cts in consumption%}
        { x:new Date('{{cts.timeOfCreate.isoformat}}') , y: {{cts.consumption}} },
        {%endfor%}

        
        ]
      }
      
      
      ]
    });
chart.render();
{% endif %}
  </script>