 <div class="col-md-10 col-md-offset-1" style="position:relative">
          <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">Charts</h3>
            </div>
            <!-- /.box-header -->
            {%if wastage|length = 0 %}
            <h1>No data for this selection</h1>
{%else%}
            <div class="box-body" id="chartContainer" style="height: 400px; width: 90%;">
            </div>
            {%endif%}
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
            </div>
          </div>
        </div>
     <script type="text/javascript">

{%if wastage|length = 0 %}

     {%else%}
 window.rakd = function(t){
      tt = new Date(t)
      return tt.format(yy,m,dd)
    }
        var chart = new CanvasJS.Chart("chartContainer",
    {
      theme: "theme",
      title:{
        {%with wastage|first as ting%}
        text: "Wastage for  {{ting.stock.product.name}} (in {{ting.stock.product.unit}})"
        {%endwith%}
      },
      animationEnabled: true,
      axisX: {
        labelFontSize:15,
        valueFormatString: "DD/MMM",
        interval:2,
        intervalType: "day"
        
      },
      axisY:{
        labelFontSize:15,
        includeZero: false
        
      },
      data: [
      {        
        type: "line",
         markerSize: 20,
         {%if orderItems|length = 0 %}
{%else%}
{%endif%}
        //lineThickness: 3,        
        dataPoints: [
        {%for cts in wastage%}
        { x:new Date('{{cts.timeOfCreate.isoformat}}') , y: {{cts.wastage}} },
        {%endfor%}

        
        ]
      }
      
      
      ]
    });
chart.render();
{%endif%}
  </script>