  {% extends 'adminr/base.html' %}
  {% block content %}
  <section class="content-header">
      <h1>
        Mive 
        <small>Restaurs dashboard</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Widgets</li>
      </ol>
    </section>
    <section class="content">
    <div class="row">
        {%for categ in basics.categoryvendor.all%}
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{categ.seller}}</h3>

              <p>{{categ.seller}}</p>
            </div>
            <a href="/categoryvendor?categoryVendorId={{categ.categoryvendor_id}}" class="small-box-footer">
              Order Now <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        {%endfor%}
      </div>
      </section>
      {% endblock %}
