  {% extends 'adminr/base.html' %}
  {% block content %}
  <section class="content-header">
      <h1>
        Mive 
        <small>Current Vendors: </small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Main</li>
      </ol>
    </section>
    <section class="content">
    <div class="row">
       <div class="col-lg-10 col-xs-6">
          <!-- small box -->

         {% if basics.categoryvendor.all|length = 0 %}
          <h3>No vendors added</h3>
          <p>Please configure your vendors <a href="/vendors">Add now</a></p>
         {%endif%}
         </div>
         </div>
         </div>
        {%for categ in basics.categoryvendor.all%}
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <center><h3>{{categ.seller}}</h3></center>
            </div>
            <a href="/categoryvendor?categoryVendorId={{categ.categoryvendor_id}}" class="small-box-footer">
              Order Now <i class="fa fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        {%endfor%}
      </div>
      </section>
      {% endblock %}
