{%load rak%}
<style>
	.item .thumb {
	width: 25%;
	cursor: pointer;
	float: left;
}
.item .thumb img {
	width: 100%;
	margin: 2px;
}
.item img {
	width: 100%;	
}
@media print{
  .unprintable{
    display:none;
  }
}
</style>
<div class="row divtoprint" >
<button class="btn btn-success pull-left" data-orderid="{{order.order_id}}" id="previnvoice"><i class="fa fa-angle-double-left"> Prev </i></button>
<button class="btn btn-success pull-right" data-orderid="{{order.order_id}}" id="nextinvoice">Next <i class="fa fa-angle-double-right"></i></button>
<center><span>Order ID: {{order.order_id}}</span></center>
</div>
{% load humanize %}
<div class="row" >
{%if  invoices.all|length = 0 %}
{%else%}
    <div class="col-sm-6 unprintable">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
            {%for inv in invoices.all%}
            <br >
                <div class="item active">
                    <a href="{{inv.image.url}}"><img src="{{inv.image.url}}"></a>
                </div><br>
                {% endfor %}
            </div>
        </div> 
    </div>
    {% endif%} <!-- /col-sm-6 -->
    {%if  invoices.all|length = 0 %}
    <div class="col-sm-12" id="printable">
{%else%}
    <div class="col-sm-6" id="printable">
    {%endif%}
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 col-xs-6 invoice-col">
          To:
          <address>
            <strong>{{basics.miveuser.nameOfOwner}}</strong><br>
            {% if basics.miveuser.address.area != 'None' and basics.miveuser.address.area != '' %}
            {{basics.miveuser.address.area}},
            {%endif%}
            {% if basics.miveuser.address.city != 'None' and basics.miveuser.address.city != '' %}
             {{basics.miveuser.address.city}}<br>{%endif%}
            {% if basics.miveuser.address.pincode != 'None' and basics.miveuser.address.pincode != '' %}
            {{basics.miveuser.address.pincode}}<br>{%endif%}
            Mobile: {{basics.miveuser.mobileNo}}<br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-6 invoice-col">
          From:
          <address>
            <strong>{{order.seller.nameOfSeller}}</strong><br>
            {% if order.seller.address.area != None and order.seller.address.area != '' %}
            {{order.seller.address.area}},{%endif%}
            {% if order.seller.address.city != None and order.seller.address.city != '' %} {{order.seller.address.city}}<br>{%endif%}
            {% if order.seller.address.pincode != None and order.seller.address.pincode != '' %} {{order.seller.address.pincode}}<br>{%endif%}
            Mobile: {{order.seller.mobileNo}}<br>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-6 invoice-col" style="text-transform: capitalize;">
          Date: {{order.deliveryTime}}<br>
          {% if order.payment = 'unpaid' %}
          Payment status: Unpaid<br>
          <span class="unprintable">Mark Paid? <input type="checkbox" id="makepaid" data-order="{{order.order_id}}"><span>
          {% else %}
          Payment status: Paid<br>
          {% endif %}
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            {% if orderItems|length != 0 %}
            <tr>
            <th><center>Product</center></th>
              <th><center>Qty</center></th>
              <th><center>Rate</center></th>
              <th><center>Amount</center></th>
            </tr>
            {% endif %}
            </thead>
            <tbody>
            {%for item in orderItems%}
            <tr>
            <td><center>{{item.product.name}}</center></td>
              <td><center>{{item.qtyInUnits}} {{item.product.unit}}</center></td>
              <td><center>₹ {{item.pricePerUnit}}/{{item.product.unit}}</center></td>
              <td><center>₹ {% multiply item.qtyInUnits item.pricePerUnit %}</center></td>
            </tr>
            {%endfor%}
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
         {% if order.orderMsg = ''%}
         {%else%}
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            {{order.orderMsg}}
          </p>
          {%endif%}
        </div>
        <!-- /.col -->
        <div class="col-xs-6">

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th style="width:50%"></th>
                <td><b>Total: ₹ {{order.subtotal}}</b></td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- this row will not appear when printing -->
      <div class="row no-print">
        <div class="col-xs-12">
          <a onclick="printDiv('printable')" target="_blank" class="btn btn-default"><i class="fa fa-print" ></i> Print</a>
          <button type="button" class="btn btn-primary pull-right view-order" data-orderid="{{order.order_id}}" style="margin-right: 5px;">
          View Order
          </button>

        </div>
      </div>

    </div> <!-- /col-sm-6 -->
  </div> <!-- /row -->


  <div class="modal fade" id="order-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;opacity:1;position: absolute">
         <div class="modal-dialog">
           <button class="btn-lg btn btn-flat" data-dismiss="modal" style="background:#FFFFFF" >&#10006;</button>
            <div class="loginmodal-container2 loginmodal-container" id="order-detail-container" style="max-width:none;max-height:none;" enctype="multipart/form-data">
               <form id="editorder" action="/editorder" style="display:inline;" method="post" enctype="multipart/form-data">
              <input type="hidden" name="orderid" id="view-orderid" value="{{basics.miveuser.cart.cart_id}}">
              <input type="hidden" name="total">
              {% csrf_token %}
              <input type="hidden" name="dummyvendorid" id="dataorderplaceid" value="{{pd.dummyvendor_id}}">
              <div class="row">
               <div class="col-md-6 col-lg-6 col-xs-6 ol-md-offset-0 col-lg-offset-0">
               Add more invoice<br><input id = "image" name="image" value="" type="file">
               </div>
               <div class="col-md-6 col-lg-6 col-xs-12">
                     <center><textarea id="orderMsg" name="orderMsg" value="{{order.orderMsg}}" type="text" class="form-control" placeholder="Comments (optional)">{{order.orderMsg}}</textarea> </center>
               </div>
               {% if order.flag = False %}
               <div class="col-md-6 col-lg-6 col-xs-12">
               <br>Flag this Order <input type="checkbox"  name="flag" data-order="{{order.order_id}}">
                </div>
                {%endif%}
                {% if order.payment != "paid" %}
                <div class="col-md-6 col-lg-6 col-xs-12">
                <center><br>Mark as Paid <input type="checkbox"  name="paid" data-order="{{order.order_id}}"></center>
                </div>
                {%endif%}
               </div>
               <br>
               <br>
               <div class="row">
               <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-md-offset-3 col-lg-offset-3">
               <button type="submit" id="checkout" class="btn btn-success btn-lg">
                  Update
                  </button>
                </div>
                </div>
               </form>
               </div>
         </div>
      </div>