{% if orders|length = 0 %}
                <h3>No data for this selection</h3>
                {% else %}
<table class="table table-responsive table-condensed borderless">
                <tr class="success">
                  <th ><center>Seller</center></th>
                  <th><center>Date</center></th>
                  <th><center>Payment</center></th>
                  <th><center>total</center></th>
                  <th><center>Invoice</center></th>
                </tr>
                {%endif%}
                {%for order in orders%}
                <tr>
                  <td ><center>{{order.seller.nameOfSeller}}</center></td>
                  <td >
                    <center>{{order.deliveryTime}}</center>
                  </td>
                  <td>
                    <center>{{order.payment}}</center>
                  </td>
                  <td><center>
                  <center>{{order.subtotal}}</center>
                  </td>
                   <td>
                    <center><a data-orderid="{{order.order_id}}" href="#" onclick="return false" ><span data-orderid="{{order.order_id}}" class="invoice-detail" ><span class="" style=""><i class="fa fa-book"></i></span></span></a></center>
                  </td>
                </tr>
                {% endfor%}
              </table>
              <script type="text/javascript">
                orderids=[
                {% for od in orders %}
                {{od.order_id}},
                {% endfor %}
                ]
              </script>