<table class="table table-responsive borderless">
{% if orders|length = 0 %}
                <h3>No data for this selection</h3>
                {% else %}
                <tr class="success">
                  <th ><center>Seller</center></th>
                  <th class="hidden-xs hidden-sm"><center>Date</center></th>
                  <th><center>Status</center></th>
                  <th><center>Subtotal</center></th>
                  <th><center>Invoice</center></th>
                  <th ><center>Details</center></th>
                </tr>
                {% endif %}
                {%for order in orders%}
                <tr>
                  <td ><center>{{order.seller.nameOfSeller}}</center></td>
                  <td class="hidden-xs hidden-sm">
                    <center>{{order.timeOfCreate}}</center>
                  </td>
                  <td>
                    <center>{{order.status}}</center>
                  </td>
                  <td><center>
                  <center>₹{{order.subtotal}}</center>
                  </td>
                  <td>
                    <center><a data-orderid="{{order.order_id}}" onclick="return false" ><span data-orderid="{{order.order_id}}" class="invoice-detail" style="color:blue"><span class="badge bg-green" style="color:blue">Invoice</span></span></a></center>
                  </td>
                  <td>
                    <center><a data-productid="{{item.product.product_id}}" href="/orderDetail?orderId={{order.order_id}}" ><span class="badge bg-yellow" style="color:blue">Details</span></a></center>
                  </td>
                </tr>
                {% endfor%}
              </table>
              <script type="text/javascript">
                orderids=[
                {% for od in orders %}
                {{od.order_id}},
                {% endfor %}
                ]
              </script>