<table class="table table-responsive borderless table-striped">
                <tr class="success">
                  <th ><center>Product</center></th>
                  <th><center>Current</center></th>
                  <th><center>last price</center></th>
                  <th><center>change(%)</center></th>
                  <th><center>Impact</center></th>
                </tr>
                {%for itemn in uniqueitems%}
                <tr>
                  <td><center>{{itemn.pd.product.name}}</center></td>
                  <td>
                    <center>₹{{itemn.currentprice}}</center>
                  </td>
                  <td>
                    <center>
                    ₹{{itemn.lastprice}}
                  </td>
                  <td data-href="/resetstock?stockId={{order.currentstock_id}}" onclick="return false" class="stock-reset"><center>{{itemn.sign}} %</center></td>
                  <td data-href="/resetstock?stockId={{order.currentstock_id}}" onclick="return false" class="stock-reset"><center>₹{{itemn.impact}}</center></td>
                </tr>
                {% endfor%}
              </table>