<nav class="navbar navbar-default navbar-fixed-top navtoggle" style="opacity:0.98;border:none" id="rakeshnavtop">
<div style="position:fixed;bottom:10px;right:5px;" data-toggle="tooltip" data-placement="left" title="Click on me for cart details" class="inboxcart">
 {% if miveuser = 'none'%}
  <button  href="/cart" class="btn btn-circle-big" style="background:#13c0ba;color:#ffffff"><span style="font-size:10px;" class="glyphicon glyphicon-shopping-cart" id="inboxspan">0$</span></button>
  {% else %}
  <button href="/cart" class="btn btn-circle-big" style="background:#13c0ba;color:#ffffff"><span style="font-size:10px;" class="glyphicon glyphicon-shopping-cart" id="inboxspan">{{miveuser.cart.cartTotal}}$<span></button>
    {% endif %}
</div>
<script type="text/javascript">
  $('.fab').hover(function () {
    $(this).toggleClass('active');
  });
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  }) 
 </script>
<!-- inbox gmail-->

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" style="background:#13c0ba;color:#13c0ba" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span style="background-color:#ffffff;text-color:#ffff" class="icon-bar"></span>
        <span style="background-color:#ffffff;text-color:#ffff" class="icon-bar"></span>
        <span style="background-color:#ffffff;text-color:#ffff" class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img style="height:52px;width:52px" src="/rstatic/new/images/mivelogo.png" class="img img-responsive"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/main">Home</a></li>
        {%for categ in categories%}
        <li><a href="category?categoryId={{categ.category_id}}">{{categ.name}}</a></li>
        {%endfor%}
      </ul>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <span class="glyphicon glyphicon-shopping-cart"></span> {{totalItems}} Item<span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-cart"  id="cartcontainer" role="menu">
          {%for item in cartItems%}
              <li>
                  <span class="item">
                    <span class="item-left">
                        <img style="width:50px;height:50px" src="/{{item.product.coverphoto.url}}" alt="" />
                        <span class="item-info">
                            <span>{{item.product.name}}</span>
                            <span>{{item.product.pricePerUnit}}$ x {{item.qtyInUnits}}</span>
                        </span>
                    </span>
                    <span class="item-right" data-miveimg="itemdelete-{{item.cartitem_id}}">
                    <form method="post" data-mive="itemdelete-{{item.cartitem_id}}" action="/ajaxremoveItemPost" class="itemdelete">
                        {%csrf_token%}
                        <input type="hidden" name="item_id" value="{{item.cartitem_id}}">
                        <button type="submit"  id="itemdelete-{{item.cartitem_id}}" class="btn btn-link btn-xs">
                          <span class="glyphicon glyphicon-trash"> </span>
                        </button>
                        </form>
                    </span>
                </span>
              </li>
             {%endfor%}
             {%if totalItems = 0 %}
               <li class="divider"></li>
              <li><p class="text-center" href="">Empty</p></li>
             {% else %}
             <li class="divider"></li>
              <li><a class="text-center" href="/cart">View Cart</a></li>
             {% endif %}
              
          </ul>
        </li>
        {% if miveuser = 'none'%}
        <li id="loginbutton"> <a href="#" data-toggle="modal"  data-target="#login-modal"> <span class="glyphicon glyphicon-user"></span> Login</a></li>
        <li id="userbutton" style="display:none" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="username">{{miveuser.nameOfInstitution}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="userdetails" href="/account"><i class="icon-user"></i>Details</a></li>
                            <li><a id="userorders" href="/seeOrder"><i class="icon-envelope"></i>Orders</a></li>
                            <li  class="divider"></li>
                            <li><a id="userlogout" href="logout"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
        {%else%}
         <li id="userbutton" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" id="username">{{miveuser.nameOfInstitution}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a id="userdetails" href="/account"><i class="icon-user"></i> Details</a></li>
                            <li><a id="userorders" href="/seeOrder"><i class="icon-envelope"></i> Orders</a></li>
                            <li  class="divider"></li>
                            <li><a id="userlogout" href="logout"><i class="icon-off"></i> Logout</a></li>
                        </ul>
                    </li>
        {%endif%}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
