{% extends 'adminr/launch/base.html' %}
{% block css%}
<link rel="stylesheet" href="rstatic/admin/plugins/select2/select2.min.css">
 <link rel="stylesheet" href="rstatic/admin/plugins/datatables/dataTables.bootstrap.css">
{% endblock %}
{% block  content %}
{% load humanize %}
 <section class="content">
 <form id="bigb">
<div class="row">
<div class="col-md-3 col-md-offset-1 " style="position:relative">
       <div class="form-group" style="text-transform: capitalize;">
                <label>Select Seller(s)</label>
                <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" name="sellers" id="sellerselect">
                 {%for sel in sellers%}
                  <option selected value="{{sel.seller_id}}" style="text-transform: capitalize;">{{sel.nameOfSeller}}</option>
                  {%endfor%}
                 }
                </select>
              </div>
              </div>
      <div class="col-md-6">
      <div class="row">
         <div class="col-md-6">
           <div class="form-group">
           <div class="col-sm-12" id="fatu">
               Select time range
                <input id="range_4" type="text" name="date" value="0;60">
                {%csrf_token%}
              </div>

              <!-- /.input group -->
            </div>
         </div>
         <div class="col-md-3 col-xs-6 col-sm-6 hidden" style="diplay:off">
         Sort by
         <select name="sortby" class="form-control" style="width: 100%;" id="sortby">
    <option  value="date">Date</option>
    <option  value="subtotal">Subtotal</option>
    <option selected="selected"  value="payment">Payment</option>
    <option  value="seller">Seller</option>
    </select>
         </div>
         <div class="col-md-3 col-xs-12 col-sm-12 ">
       <div class="form-group" id="checkbox">
                  <div class="checkbox" >
                    <label>
                      <input type="radio" name="rak" value="paid">
                      Paid
                    </label>
                    <label>
                      <input type="radio" name="rak" value="all" checked>
                      All
                    </label>
                    <label>
                      <input type="radio" name="rak" value="unpaid">
                      Unpaid
                    </label>
                  </div>

                </div>
              </div>
       </div>
      </div>
</div><br>
</form>
      <div class="row">
        <div class="col-xs-12" style="position:relative;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
          <div class="box" id="targetreload" style="position:relative;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
            <div class="box-header">
              <h3 class="box-title pull-left">Previous orders</h3>
              <h3 class="box-title pull-right">Total :{{total|intcomma}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body"  style="position:relative;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
              <table id="example2" class="table table-bordered table-hover table-condensed">
                <thead>
                <tr class="success">
                  <th ><center>Seller</center></th>
                  <th><center>Date</center></th>
                  <th><center>Payment</center></th>
                  <th><center>Total</center></th>
                  <th><center>Invoice</center></th>
                </tr>
                </thead>
                <tbody>
                
                
                {%for order in orders%}
                <tr>
                  <td  style="text-transform: capitalize;"><center>{{order.seller.nameOfSeller}}</center></td>
                  <td >
                    <center><span class="hidden">{{order.deliveryTime|date:"y/m/d"}}</span>{{order.deliveryTime|date:"d/m"}}</center>
                  </td>
                  <td style="text-transform: capitalize;" >

                    <center>
                    {%if order.payment = 'paid' %}
                    <span class="label label-success">{{order.payment}}</span>
                    {% else %}
                    <span class="label label-warning">{{order.payment}}</span>
                    {% endif %}
                    </center>
                  </td>
                  <td><center>
                  {% load humanize %}
                  <center>{{order.subtotal|intcomma}}</center>
                  </td>
                   <td>
                    <center>
                    {% if order.flag = True %}
                    <span class="label label-danger">Flag</span>
                    {% endif %}
                    <a data-orderid="{{order.order_id}}" href="#" onclick="return false" ><span data-orderid="{{order.order_id}}" class="invoice-detail" ><span class="success" style=""><i class="fa fa-book"></i></span></span></a></center>
                  </td>
                </tr>
                {% endfor%}
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          </div>
          </div>
    </section>
<div class="modal fade" id="invoice-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;opacity:0.96;">
         <div class="modal-dialog" style="width:100%">
         <button class="btn-lg btn btn-flat" data-dismiss="modal" style="background:#FFFFFF" >&#10006;</button>
            <div class="loginmodal-container2 loginmodal-container" id="invoice-detail-container" style="max-width:1000px;max-height:none;">
            </div>
         </div>
      </div>
{%endblock%}
{% block script%}
<script>
  $('body').on('click touchstart','#fatu',function(event){
  })
  </script>
  <script>
  $('body').on('change','#sortby',function(event){
    data = $('#bigb').serialize()
    console.log('yolo')
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
  <script>
  $('body').on('change','#sellerselect',function(event){
    data = $('#bigb').serialize()
    console.log('yolo')
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
  <script>
  $('body').on('click','#checkbox',function(event){
    data = $('#bigb').serialize()
    console.log('yolo')
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
<script src="/rstatic/admin/plugins/ionslider/ion.rangeSlider.min.js"></script>
  <script>
  $(function () {
    /* BOOTSTRAP SLIDER */
    $('.slider').slider();

    /* ION SLIDER */
    $("#range_4").ionRangeSlider({
      min: 0,
      max: 60,
      from: 60,
      to: 60,
      type: "single",
      step: 1,
      postfix: "days",
      hideMinMax: true,
      hideFromTo: false,
      onFinish: function (data) {
        data = $('#bigb').serialize()
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Error Occured','Error occured while processing')
                    console.log(data)
                    }
                  });
    },
    });
  });

</script>
<script src="rstatic/admin/plugins/select2/select2.full.min.js"></script>
<script type="text/javascript">
  $(".select2").select2();
</script>
<script type="text/javascript">
  orderids=[
  {% for od in orders %}
  {{od.order_id}},
  {% endfor %}
  ]
</script>
<script>
  $('body').on('click','.invoice-detail',function(request){
    $('#invoice-detail-container').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    $('#invoice-modal').modal('toggle')
    index= orderids.indexOf(orderid)
    previd = orderids[index-1]
    nextid = orderids[index+1]
    $.get('/invoices?orderId='+orderid,function(data){
     $('#invoice-detail-container').html(data)
     console.log(data)
    })
  })
</script>
<script>
  $('body').on('click','.view-order',function(request){
   orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    $('#order-view-modal').modal('toggle')
    $('#view-orderid').val(orderid)
    $('#invoice-modal').animate({ scrollTop: 0 }, 'slow');
})
</script>
<script>
  $('body').on('click','#nextinvoice',function(request){
    orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    finished = orderids.length
    index= orderids.indexOf(parseInt(orderid))
    console.log('index',index)
    index=index+1
    console.log('index',index)
    if (index>finished-1){
      mivenotify('notice','No more orders','')
    }
    else{
    $('#invoice-detail-container').html("<center><img src='/rstatic/new/images/282.GIF'></center>")

      nextid = orderids[index]
    console.log('nextid',nextid)
    $.get('/invoices?orderId='+nextid,function(data){
     $('#invoice-detail-container').html(data)
     console.log(data)
    })

    }
  })
</script>
<script>
  $('body').on('click','#previnvoice',function(request){
    orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    index= orderids.indexOf(parseInt(orderid))
    index= index-1
    if (index<0){
      mivenotify('notice','No more orders','')
    }
    else{
    $('#invoice-detail-container').html("<center><img src='/rstatic/new/images/282.GIF'></center>")

      nextid = orderids[index]
    console.log('nextid',nextid)
    $.get('/invoices?orderId='+nextid,function(data){
     $('#invoice-detail-container').html(data)
     console.log(data)
    })

    }
  })
</script>
<script src="rstatic/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="rstatic/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
$('body').on('change','#makepaid',function(event){
  console.log('paid')
  id = $(this).attr('data-order')
  id = parseInt(id)
  var t = confirm('Mark this order as paid. Are you sure?')
  if (t==true){
    t = $.get('/makepaid?orderId='+id,function(data){
    $('#invoice-detail-container').html(data)
  })
  t.fail(function(data){
    console.log(data)
  })

  }
  else{
    console.log('canceled')

  }
})
</script>
<script>
  $(function () {
    $('#example2').DataTable({
      "order": [[ 1, "desc" ]],
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "info": true,
      "autoWidth": false
    });
  });
</script>
{% endblock %}