{% extends 'adminr/base.html' %}
{% block css%}
<link rel="stylesheet" href="rstatic/admin/plugins/select2/select2.min.css">
{% endblock %}
{% block  content %}
<section class="content-header">
   <h1>
      Mive 
      <small>Orders</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Orders</li>
   </ol>
</section>
<section class="content">
<form id="bigb">
<div class="row">
<div class="col-md-3 col-md-offset-1 " style="position:relative">
       <div class="form-group" style="text-transform: capitalize;">
                <label>Select sellers</label>
                <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;" name="sellers" id="sellerselect">
                 {%for sel in sellers%}
                  <option selected value="{{sel.seller_id}}" style="text-transform: capitalize;">{{sel.nameOfSeller}}</option>
                  {%endfor%}
                 }
                </select>
              </div>
              </div>
      <div class="col-md-6">
      <div class="row">
         <div class="col-md-6">
           <div class="form-group">
           <div class="col-sm-12" id="fatu">
               Select time range
                <input id="range_4" type="text" name="date" value="7;200">
                {%csrf_token%}
              </div>

              <!-- /.input group -->
            </div>
         </div>
         <div class="col-md-3 col-xs-6 col-sm-6">
         Sort by
         <select name="sortby" class="form-control select2" style="width: 100%;" id="sortby">
    <option selected="selected" value="date">Date</option>
    <option  value="subtotal">Subtotal</option>
    <option  value="status">Status</option>
    <option  value="seller">Seller</option>
    </select>
         </div>
         <div class="col-md-3 col-xs-6 col-sm-6 ">
       <div class="form-group" id="checkbox">
                  <div class="checkbox" >
                    <label>
                      <input type="radio" name="rak" value="paid">
                      Paid
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="rak" value="all" checked>
                      All
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="radio" name="rak" value="unpaid">
                      Unpaid
                    </label>
                  </div>

                </div>
              </div>
       </div>
      </div>
</div><br>
</form>
      <div class="row">
      {% if orders|length = 0 %}
      <div class="col-md-10 col-md-offset-1" style="position:relative">
          <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">You have placed no orders</h3>
            </div>
          </div>
          </div>
        {% else %}
        <div class="col-md-12 col-md-offset-0" style="position:relative;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
          <div class="box" style="position:relative;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
          <div class="box-header with-border" >
              <h3 class="box-title">Your orders</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body" id="targetreload" style="position:relative;margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px">
              <table class="table table-responsive table-condensed borderless">
                <tr class="success">
                  <th ><center>Seller</center></th>
                  <th><center>Date</center></th>
                  <th><center>Payment</center></th>
                  <th><center>Total</center></th>
                  <th><center>Invoice</center></th>
                </tr>
                {%for order in orders%}
                <tr>
                  <td  style="text-transform: capitalize;"><center>{{order.seller.nameOfSeller}}</center></td>
                  <td >
                    <center>{{order.deliveryTime|date:"d/m"}}</center>
                  </td>
                  <td style="text-transform: capitalize;" >

                    <center>
                    {%if order.payment = 'paid' %}
                    <i class="fa fa-circle" style="color:green"></i>
                    {% else %}
                    <i class="fa fa-circle" style="color:red"></i>
                    {% endif %}
                    {{order.payment}}
                    </center>
                  </td>
                  <td><center>
                  {% load humanize %}
                  <center>{{order.subtotal|intcomma}}</center>
                  </td>
                   <td>
                    <center><a data-orderid="{{order.order_id}}" href="#" onclick="return false" ><span data-orderid="{{order.order_id}}" class="invoice-detail" ><span class="" style=""><i class="fa fa-book"></i></span></span></a></center>
                  </td>
                </tr>
                {% endfor%}
              </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer clearfix">
            </div>
          </div>
        </div>
      </div>
      {% endif %}
</section>
<div class="modal fade" id="invoice-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;opacity:0.96;">
         <div class="modal-dialog" style="width:100%">
         <button class="btn-lg btn btn-flat" data-dismiss="modal" style="background:#FFFFFF" >&#10006;</button>
            <div class="loginmodal-container2 loginmodal-container" id="invoice-detail-container" style="max-width:1000px;max-height:none;">
            </div>
         </div>
      </div>
{%endblock%}
{% block script%}
<script>
  $('body').on('click touchstart','#fatu',function(event){
    data = $('#bigb').serialize()
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
  <script>
  $('body').on('change','#sortby',function(event){
    data = $('#bigb').serialize()
    console.log('yolo')
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
  <script>
  $('body').on('change','#sellerselect',function(event){
    data = $('#bigb').serialize()
    console.log('yolo')
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
  <script>
  $('body').on('click','#checkbox',function(event){
    data = $('#bigb').serialize()
    console.log('yolo')
    $('#targetreload').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    $.ajax({
                    type: "POST",
                    url: '/filter/seeorder',
                    data: data, // serializes the form's elements.
                    success: function(data)
                    {
                      $('#targetreload').html(data)
                      console.log(data)
                    },
                    error:function(data){
                    mivenotify('error','Item add','Error occured while adding product')
                    console.log(data)
                    }
                  });
  })
  </script>
<script src="/rstatic/admin/plugins/ionslider/ion.rangeSlider.min.js"></script>
  <script>
  $(function () {
    /* BOOTSTRAP SLIDER */
    $('.slider').slider();

    /* ION SLIDER */
    $("#range_4").ionRangeSlider({
      min: 7,
      max: 200,
      from: 7,
      to: 200,
      type: "single",
      step: 1,
      postfix: "days",
      hideMinMax: true,
      hideFromTo: false
    });
  });

</script>
<script src="rstatic/admin/plugins/select2/select2.full.min.js"></script>
<script type="text/javascript">
  $(".select2").select2();
</script>
<script type="text/javascript">
  orderids=[
  {% for od in orders %}
  {{od.order_id}},
  {% endfor %}
  ]
</script>
<script>
  $('body').on('click','.invoice-detail',function(request){
    $('#invoice-detail-container').html("<center><img src='/rstatic/new/images/282.GIF'></center>")
    orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    $('#invoice-modal').modal('toggle')
    index= orderids.indexOf(orderid)
    previd = orderids[index-1]
    nextid = orderids[index+1]
    $.get('/invoices?orderId='+orderid,function(data){
     $('#invoice-detail-container').html(data)
     console.log(data)
    })
  })
</script>
<script>
  $('body').on('click','#nextinvoice',function(request){
    orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    finished = orderids.length
    index= orderids.indexOf(parseInt(orderid))
    console.log('index',index)
    index=index+1
    console.log('index',index)
    if (index>finished-1){
      mivenotify('notice','No more orders','')
    }
    else{
    $('#invoice-detail-container').html("<center><img src='/rstatic/new/images/282.GIF'></center>")

      nextid = orderids[index]
    console.log('nextid',nextid)
    $.get('/invoices?orderId='+nextid,function(data){
     $('#invoice-detail-container').html(data)
     console.log(data)
    })

    }
  })
</script>
<script>
  $('body').on('click','#previnvoice',function(request){
    orderid = $(this).attr('data-orderid')
    console.log('orderid',orderid)
    index= orderids.indexOf(parseInt(orderid))
    index= index-1
    if (index<0){
      mivenotify('notice','No more orders','')
    }
    else{
    $('#invoice-detail-container').html("<center><img src='/rstatic/new/images/282.GIF'></center>")

      nextid = orderids[index]
    console.log('nextid',nextid)
    $.get('/invoices?orderId='+nextid,function(data){
     $('#invoice-detail-container').html(data)
     console.log(data)
    })

    }
  })
</script>
<script>
$('body').on('change','#makepaid',function(event){
  console.log('paid')
  id = $(this).attr('data-order')
  id = parseInt(id)
  var t = confirm('Mark this order as paid. Are you sure?')
  if (t==true){
    t = $.get('/makepaid?orderId='+id,function(data){
    $('#invoice-detail-container').html(data)
  })
  t.fail(function(data){
    console.log(data)
  })

  }
  else{
    console.log('canceled')

  }
})
</script>

{% endblock %}