<div class="signup-form"><!--sign up form-->
						<h2>Add a new product</h2>
						<form type="post" method="post" action="http://127.0.0.1:8000/api/temp/editorderdummy/" enctype="multipart/form-data">
					    {% csrf_token %}
					    <h4>Add Your userId:</h4>
					    <br><span>userid:</span><input name="userId" value="" type="text">
                        <br><span>orderid:</span><input name="orderId" value="" type="text">
                        <input name="paid" value="on" type="text">
                        <input name="flag" value="on" type="text">
                        <input name="invoiceonly" value="50" type="text">
                        <br><span>ordermsg:</span><textarea rows="4" cols="50" name="orderMsg" ></textarea>
					     <br><span>select images:</span><input id = "image" name="image"type="file" multiple>
					    <input value="add" type="submit" >
					        
					    </form>

					</div>