{%load rak%}
<div class="row" id="addedproductreload">
      <ol class="breadcrumb">
         <li class="active">Already added products</li>
      </ol>
      <center>{% if products.all|length = 0 %}
      <span>No already added product</span>
      <span>Kindly click on add new product and add new products</span>
      {% endif %}</center>
       {% for product in products.all %}
      <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background:none"><img data-productid="{{product.product_id}}" class="login-modal2-button" src="/{{product.coverphoto.thumbnail.url}}" style="width:70px;height:70px" class="img img-resposive"></i></span>

            <div class="info-box-content">
              <div class="col-xs-12 col-md-12 col-lg-12">
              <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-5 col-md-offset-0 col-xs-offset-1 col-sm-offset-1">
                       <div class="row">
                     <div class="col-md-12 col-xs-12">
                      <span data-toggle="tooltip" title="{{product.name}}" >{{product.name|raktr}}</span><br>
                      </div>
                      </div>
                      <div class="row">
                     <div class="col-md-12 col-xs-12">
                      <br>
                      </div>
                      </div>
                      <div class="row">
                     <div class="col-md-12 col-xs-12">
                     <form mobile="yes"  id="productsubmit-{{product.product_id}}" method="post" class="productform" action="/addtocart">
                     {%csrf_token%}
                     <input type="hidden" name="productId" value="{{product.product_id}}">
                     <input type="hidden" name="dummyvendorId" value="{{dummyvendor.dummyvendor_id}}">
                     <input type="hidden" name="sellerId" value="{{product.seller.seller_id}}">
                  </form>
                  <a class=" product1remove" data-productid="{{product.product_id}}"><i class="fa fa-trash-o"></i></b></a>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                       
                    </div>
                  </div>
                  </div>

            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        {%endfor%}
   </div>
   <div class="row" id="restproductreload">
      
      <ol class="breadcrumb">
         <li class="active">Add new products from this vendor ></li>
      </ol>
      <center>{% if allProducts|length = 0 %}
      <span>this vendor doesnt not have any new products</span>
      <span>Kindly click on add new product and add new products</span>
      {% endif %}</center>
      {% for product in allProducts %}
      <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background:none"><img data-productid="{{product.product_id}}" class="login-modal2-button" src="/{{product.coverphoto.thumbnail.url}}" style="width:70px;height:70px" class="img img-resposive"></i></span>

            <div class="info-box-content">
              <div class="col-xs-12 col-md-12 col-lg-12">
              <div class="row">
                    <div class="col-md-6 col-sm-5 col-xs-5 col-md-offset-0 col-xs-offset-1 col-sm-offset-1">
                       <div class="row">
                     <div class="col-md-12 col-xs-12">
                     <span data-toggle="tooltip" title="{{product.name}}" >{{product.name|raktr}}</span><br>
                      </div>
                      </div>
                      <div class="row">
                     <div class="col-md-12 col-xs-12">
                      <br>
                      </div>
                      </div>
                      <div class="row">
                     <div class="col-md-12 col-xs-12">
                     <label> <input type="checkbox" data-productid="{{product.product_id}}" class="minimal tick"></label>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                       <form mobile="yes"  id="productsubmit-{{product.product_id}}" method="post" class="productform">
                Price <input data-mobile="yes" data-toggle="tooltip" title="Input Qty" type="text" class="form-control text-center input-circle" value="0" name="qty" style="border:none;  border-bottom:solid grey 1px;width:20px" data-productid="{{product.product_id}}" id="price-{{product.product_id}}">
                {%csrf_token%}
                <input type="hidden" name="productId" value="{{product.product_id}}">
             </form>
                    </div>
                  </div>
                  </div>

            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        {%endfor%}
      
   </div>
   <div class="row">
        <center>
          <a class="btn btn-success btn-bg" href="/data/vendor/pdreference?sellerId={{seller.seller_id}}">Add new Products</a>
        </center>
      </div>