{%load rak%}
<div class="row" id="addedproductreload">
      <ol class="breadcrumb">
         <li class="active">Existing products:</li>
      </ol>
      <center>{% if products.all|length = 0 %}
      <span>No added products</span>
      <span>Kindly click on 'Add new product(s)' to add products</span>
      {% endif %}</center>
       {% for product in products.all %}
      <div class="col-md-3 col-sm-12 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon" style="background:none"><img data-productid="{{product.product_id}}" class="login-modal2-button" src="/{{product.coverphoto.thumbnail.url}}" style="width:70px;height:70px" class="img img-resposive"></i></span>

            <div class="info-box-content">
              <div class="col-xs-12 col-md-12 col-lg-12">
              <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-5 col-md-offset-0 col-xs-offset-1 col-sm-offset-1">
                       <div class="row">
                     <div class="col-md-12 col-xs-12">
                      <span data-toggle="tooltip" title="{{product.name}}" ><b>{{product.name}}</b></span>
                      </div>
                      </div>
                      <div class="row">
                     <div class="col-md-12 col-xs-12">
                      <br>
                      </div>
                      </div>
                      <div class="row">
                     <div class="col-md-12 col-xs-12">
                     <form mobile="yes"  id="productsubmit-{{product.product_id}}" method="post" class="productform" action="/addtocart">
                     {%csrf_token%}
                     <input type="hidden" name="productId" value="{{product.product_id}}">
                     <input type="hidden" name="dummyvendorId" value="{{dummyvendor.dummyvendor_id}}">
                     <input type="hidden" name="sellerId" value="{{dummyvendor.seller.seller_id}}">
                  </form>
                  <a href="#" onclick="return false" class=" product1remove" data-productid="{{product.product_id}}"><i class="fa fa-trash-o" style="font-size:20px"></i></b></a>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                       
                    </div>
                  </div>
                  </div>

            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        {%endfor%}
   </div>
   <div class="row">
      </div>