{% extends 'adminr/base.html' %}
{% block  content %}
<section class="content-header">
   <h1>
      Mive 
      <small>Restaurant dashboard</small>
   </h1>
   <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Cart</li>
   </ol>
</section>
<h1>{{allProducts|length}}</h1>
<section class="content">
      <div class="row">
        <div class="col-md-10 col-md-offset-1" style="position:relative">
        {%for pd in allProducts%}
          <div class="box">
          <div class="box-header with-border">
              <h3 class="box-title">{{pd.seller.nameOfSeller}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th><center>Name</center></th>
                  <th><center>Price/Unit</center></th>
                  <th><center>Qty</center></th>
                  <th><center>Delete</center></th>
                  <th class="hidden-sm hidden-xs"><center>Info</center></th>
                </tr>
                {%for item in pd.items%}
                <tr>
                  <td><center>{{item.product.name}}</center></td>
                  <td>
                    <center><span class="badge bg-red" style="color:#13c0ba">₹{{item.product.pricePerUnit}}/{{item.product.unit}}</span></center>
                  </td>
                  <td>
                    <center>
                    <form method="post" action="/data/editqty">
                    {%csrf_token%}
                    <input type="hidden" name="itemid" value="{{item.dummycartitem_id}}">
                    <input type="text" class="input-circle" name="newqty" value="{{item.qtyInUnits}}" style="text-align:center"><button class="btn-primary btn" style="border-radius:none" type="submit">update</button></center>
                    </form>
                  </td>
                  <td><center><a href="/data/removeItemPost?itemId={{item.dummycartitem_id}}"><span style="color:green" class="itemdelete" data-itemid="{{item.cartitem_id}}"><i class="fa fa-trash-o"></i></span></a></center></td>
                  <td class="hidden-sm hidden-xs">
                    <center><a data-productid="{{item.product.product_id}}" href="#" onclick="return false" class="login-modal2-button"><span class="badge bg-green" style="color:#13c0ba">know more</span></a></center>
                  </td>
                </tr>
                {% endfor%}
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              
              <button class="btn btn-primary pull-right orderdata" data-dummyvendorid="{{pd.dummyvendor_id}}" >Place Order</button>
            </div>
          </div>
          {%endfor%}
        </div>
      </div>
</section>
<div class="modal fade" id="data-order-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;opacity:0.96">
         <div class="modal-dialog">
            <div class="loginmodal-container2 loginmodal-container" id="order-detail-container" style="max-width:none;max-height:none;">
               <form id="orderdata" method="get" action="/data/ordercategory" style="display:inline;">
              <input type="hidden" name="cartid" value="{{basics.miveuser.cart.cart_id}}">
              <input type="hidden" name="dummyvendorid" id="dataorderplaceid" value="{{pd.dummyvendor_id}}">
               <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12 col-md-offset-1 col-lg-offset-1">
                     <input autofocus placeholder="Deliver date" id="datetime" name="deliveryTime" type="date" class="form-control">
               </div>
               <div class="col-md-4 col-lg-4 col-xs-12">
                     <textarea id="orderMsg" name="orderMsg" type="text" class="form-control" placeholder="Add Comment if any query"></textarea> 
                     <input type="hidden" name="csrfmiddlewaretoken" value="XxYq2vc6MzqqLBPH86mIQeEfObTCXVCc">
               </div>
               <div class="col-md-1 col-lg-1 col-xs-6 ol-md-offset-0 col-lg-offset-0">
                  <button type="submit" id="checkout" class="btn btn-success btn-lg">
                  Checkout
                  </button>
               </div>
               </form>
            </div>
         </div>
      </div>
{%endblock%}
{% block script%}

{% endblock %}