<div class="box-header with-border"> 
            {% if allProducts|length = 0 %}
             <h3 class="box-title">No products right now</h3>
            {%endif%}
            </div>
              {%for pd in allProducts%}
          <div>
          <div class="box-header with-border">          
              <h3 class="box-title">{{pd.seller.nameOfSeller}}</h3>
            </div>
            <!-- /.box-header -->
            <div class="borderless">
              <table class="table table-responsive borderless">
                <tr class="success">
                  <th><center>Name</center></th>
                  <th class="hidden-sm hidden-xs"><center>Price/Unit</center></th>
                  <th><center>Qty</center></th>
                  <th><center>Delete</center></th>
                </tr>
                {%for item in pd.items%}
                <tr>
                  <td><center>{{item.product.name}}</center></td>
                  <td class="hidden-sm hidden-xs">
                    <center><span class="badge bg-red" style="color:#13c0ba">₹{{item.pricePerUnit}}/{{item.product.unit}}</span></center>
                  </td>
                  <td>
                    <center>
                    <form method="post" action="/data/editqty">
                    {%csrf_token%}
                    <input type="hidden" name="itemid" value="{{item.dummycartitem_id}}">
                    <input type="text" class="input-circle dummyqtyupdate" name="newqty" value="{{item.qtyInUnits}}" data-dummyitemid="{{item.dummycartitem_id}}" style="text-align:center"></center>
                    </form>
                  </td>
                  <td><center><a href="/data/removeItemPost?itemId={{item.dummycartitem_id}}"><span href="/data/removeItemPost?itemId={{item.dummycartitem_id}}" style="color:green" class="itemdelete" data-itemid="{{item.cartitem_id}}"><i class="fa fa-trash-o"></i></span></a></center></td>
                </tr>
                {% endfor%}
              </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <button class="btn btn-warning dummycartupdate" >Update</button>&nbsp;
              <button class="btn btn-primary pull-right orderdata" data-dummyvendorid="{{pd.dummyvendor_id}}" >Place Order</button>
            </div>
          </div>
          {%endfor%} 