  {% extends 'adminr/launch/base.html' %}
  {% block content %}
  {%load rak %}
  <section class="content-header">
    </section>
    <section class="content">
    <div class="row">
    {%for sl in list %}
            <div class="col-md-4 col-sm-12 col-xs-12">
          <div class="info-box" >
          <div class="row">
          <center><font size="4"><p>{{sl.seller.nameOfSeller}}</p></font></center>
            <div class="col-xs-6 col-sm-6 col-md-7 col-xl-7" style="padding-right:0px;margin-right:0px">
             <div class="col-xs-12 col-sm-12"><font size="3" class="pull-right">Current Balance:</font></div>
            <div class="col-xs-12 col-sm-12"><font size="3" class="pull-right">Prev. Outstanding:</font></div>
            <div class="col-xs-12 col-sm-12"><font class="pull-right" size="3">Total Outstanding:</font></div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-5 col-xl-5" style="padding-left:0px;margin-left:0px">
             <div class="col-xs-12 col-sm-12"><font size="3" class="pull-left"> ₹ {{sl.total}}</font></div>
             <div class="col-xs-12 col-sm-12"><font size="3" class="pull-left"> ₹ {{sl.due}} &nbsp;  <a ><i class="fa fa-pencil editpayment" data-sellerid="{{sl.seller.seller_id}}" data-sellername="{{sl.seller.nameOfSeller}}"></i></a></font></div>
             <div class="col-xs-12 col-sm-12"><font size="3" class="pull-left"> ₹ {% pluss sl.total sl.due %}</font></div>
          </div>
          </div>
          <div class="row">
          </div>
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        {% endfor %}
       
    </div>
    </section>
    <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;opacity:0.96;">
         <div class="modal-dialog">
            <div class="loginmodal-container2 loginmodal-container" id="invoice-detail-container" style="max-width:250px;max-height:none;padding-top:10px;margin-top:10px">
            <div class="row" style="padding-top:5px;margin-top:5px">
            <div class="col-md-12 col-xs-12" style="padding-top:5px;margin-top:5px">
            <center><h3 style="padding-top:5px;margin-top:5px" id="sellername_payment"></h3></center>
            <center><span>Enter the outstanding amount:</span>
            <form method="post" action="/data/change/payment/">
              <input type="hidden" name="sellerid" id="paymentsellerid">
              {%csrf_token%}
              <input type="text" name="amount"  style="border:none;  border-bottom:solid grey 1px;width:84px" required>&nbsp;&nbsp;&nbsp;<button class="btn-primary btn" style="border-radius:none" type="submit">Update</button>
            </form></center>
            </div>
            </div>
            </div>
         </div>
      </div>
   
      {% endblock %}
      {% block script %}
      <script>
      $('body').on('click','.editpayment',function(event){
        sellerid = $(this).attr('data-sellerid')
        sellername = $(this).attr('data-sellername')
        $('#paymentsellerid').val(sellerid)
        $('#sellername_payment').html(sellername)
        console.log(sellerid)
        $('#payment-modal').modal('toggle')
      })
      </script>
      {% endblock %}
